<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Spring8_Aop1/src/org/koushik/javabrains/AopMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.koushik.javabrains.AopMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Spring8_Aop1"/>
</launchConfiguration>
