<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="triangle" class="org.koushik.javabrains.Triangle">
		<!--  property name="type" value="Equilateral"/-->
		<!--  constructor-arg value="Equilateral"/-->
		<!-- constructor-arg type = "int" value="20"/-->
		<!--  constructor-arg type = "java.lang.String" value="Equilateral"/-->
		<constructor-arg index ="0" value="Equilateral"/>
		<constructor-arg index = "1" type = "int" value="20"/>
	</bean>
</beans>